@charset "utf-8";
body {
	background:url(../images/bg_1.jpg) center no-repeat fixed;
}
img {
	display:block
}
#wrap {
	position:relative;
	max-width:1600px;
	min-width:1000px;
	margin:0 auto;
}
#main_menu {
	width:400px;
	height:400px;
	position:absolute;
	z-index:9487;
}
#main_menu_steady {
	width:400px;
	height:400px;
	position:absolute;
	z-index:9487;
}
#logo {
	width:100%;
	height:auto;
	position:relative;
	margin:20px 0 20px 0;
}
#logo img {
	width:80%;
	margin:0 auto;
}
#sidemenu_bg {
	width:0px;
	height:400px;
	background:#ccc;
	position:absolute;
}
#main_menu_shadow {
	width:400px;
	height:400px;
	position:absolute;
}
#logo_shadow {
	width:100%;
	height:auto;
	position:relavive;
	display:none;
	margin:20px 0 20px 0;
}
#logo_shadow img {
	width:80%;
	margin:0 auto;
}
.btn {
	position:relative;
	width:180px;
	height:60px;
	margin:10px;
	background:#aaa;
	float:left;
	font-size:20px;
	font-weight:bold;
	font-family:"微軟正黑體","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple LiGothic","Microsoft JhengHei";
}
#logo, .btn {
	cursor:pointer;
}
#content {
	width:0px;
	padding-left:0px;
	clear:both;
	background:url(../images/bg_content.png);
}
.page {
	padding:20px 20px 40px 20px;
	display:none;
	font-family:"微軟正黑體","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple LiGothic","Microsoft JhengHei";
	font-size:16px;
	line-height:22px;
}
.page h2{
	font-family:"微軟正黑體","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple LiGothic","Microsoft JhengHei";
	font-size:22px;
	line-height:28px;
	font-weight:bold;
}
.page img {
	margin-bottom:20px;
}
#menu_m_btn
{
	display:none;
}
.menu_m_btn_in
{
	display:none;
}